<!-- 
*ngFor
*ngIf
Interpolation {{ }}
Property binding [ ]
Event binding ( ) 
-->


<h1>Danh sách sản phẩm:</h1>

<div *ngFor="let product of products; index as productId">
	<h3>
		<a [title]="'xem chi tiết ' + product.name" [routerLink]="['/products', productId]">
			{{[product.name]}}
		</a>
	</h3>

	<p *ngIf="product.description">
		Chi tiết sản phẩm: {{ product.description }}
	</p>
	<h5> Giá: {{[product.price]}}
	</h5>
	<button (click)="share()">
    Share sản phẩm cho bạn bè
  </button>
<app-product-alerts
  [product]="product"
  (notify)="onNotify()"
  >
  
</app-product-alerts>
</div>